<%= turbo_frame_tag 'comments' do%>
    <strong> Comments </strong>
    <% @comments.each do |c|%>
        <p>
        <div><%= "#{c.user.name}:" %></div>
        <div><%= c.body %></div>
        </p>
    <% end %>
    <%= link_to "Hide comments", posts_path , data: { turbo_frame: "_top" } %>
<% end %>