<div>
    <ul>
    <li><h3><strong><%= post.body %></h3></strong></li>
    </ul>
    <div><%= link_to 'See post', user_post_path(post.author.id,post.id)%></div><br>
    <%= turbo_frame_tag 'comments' do%>
    <div><%=link_to 'See comments', post_comments_path(post.id)%></div>
    <% end %>
</div>