<div class='index'>
  <div class='new_post'>
    <%= turbo_frame_tag id="new_post", src:new_post_path %>
  </div>

  <div id="posts" class='posts'>
    <%= render @posts %>
  </div><br>

  <div class='follows'>
    <h3> Users you follow: </h3>
    <% current_user.given_follows.each do |f|  %>
        <ul>
        <li><%= f.followed_user.name %></li>
        </ul>
    <% end %>
  </div>


</div>
