.user {
    display: flex;
}

.image {
    display: inline-block;
    margin-right: 50px;
    width:  100px;
    height: 100px;
    border-radius:50%;
}

.avatar {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}